# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web_technology\web_project_min\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
